body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section {
    height: 150vh;
    display: grid;
    place-items: center;
}

img {
    width: 40vw;
    aspect-ratio: 3 / 4;
    object-fit: cover;
}

canvas {
    position: fixed;
    inset: 0;
    width: 100vw;
    height: 100vh;
    pointer-events: none;
}
